*.log
*.iml
.idea/
.DS_Store/
.vs/
Library/
Temp/
*.csproj
*.sln
/AssetBundles
.plastic/
obj/
/*.user
.git/
*.apk
/56d0cbeb70fea0c429a6aa2874ce4fed
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info.txt.meta
